<!-- Modal -->
<div class="modal-overlay" id="modal-overlay" onclick="closeModal(event)">
  <div class="modal-box" id="modal-box">
    <div class="modal-title"  id="modal-title"></div>
    <div class="modal-sub"    id="modal-sub"></div>
    <div class="modal-fields" id="modal-fields"></div>
    <div class="modal-actions">
      <button class="btn-cancel"  onclick="closeModal()">Annuler</button>
      <button class="btn-confirm" id="modal-confirm" onclick="modalConfirm()">Confirmer</button>
    </div>
  </div>
</div>

<!-- Toasts -->
<div id="toasts"></div>
